# Node.js
node_modules/
npm-debug.log

# Environment variables
.env

# Logs
*.log

# Build outputs
dist/
build/

# Operating System Files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Database files
*.sqlite
*.db

# Credentials
secrets.json
